# =========================

# Git

# =========================

.git
.gitignore

# =========================

# Python cache

# =========================

**pycache**/
*.py[cod]
*$py.class

# =========================

# Virtual environments

# =========================

venv/
.env/
.venv/
env/
ENV/

# =========================

# Local environment & secrets

# =========================

.env
.env.*
*.key
*.pem
*.crt

# =========================

# MLflow local artifacts

# =========================

mlruns/
mlflow.db
artifacts/

# =========================

# Data (not needed in image)

# =========================

data/

# =========================

# Logs & outputs

# =========================

logs/
*.log
output/

# =========================

# Notebooks

# =========================

*.ipynb
.ipynb_checkpoints/

# =========================

# IDE / Editor

# =========================

.vscode/
.idea/

# =========================

# OS files

# =========================

.DS_Store
Thumbs.db

# =========================

# Tests & coverage

# =========================

tests/
.coverage
htmlcov/
.pytest_cache/

# =========================

# Docker build leftovers

# =========================

*.tar
*.gz
*.zip
